.JokeList {
    display: flex;
    width: 80%;
    height: 80%
}



.JokeListImage {
    width: 50%;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px;
}

.JokeList-sidebar {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 8px 8px rgba(0, 0, 0, 0.11),
        0 16px 16px rgba(0, 0, 0, 0.11),
        0 32px 32px rgba(0, 0, 0, 0.11);
    z-index: 2;
}

.JokeListTitle {
    font-size: 4rem;
    margin: 2rem;
    color: white;
    font-weight: 100;
    letter-spacing: 0.6rem;

}

.JokeListTitle span {
    font-weight: 700;
    letter-spacing: 0;
}

.JokeList-jokes {
    background-color: orange;
    height: 90%;
    align-self: center;
    width: 70%;
    overflow: auto;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 8px 8px rgba(0, 0, 0, 0.11),
        0 16px 16px rgba(0, 0, 0, 0.11),
        0 32px 32px rgba(0, 0, 0, 0.11);

}

.JokeListButton {
    background: linear-gradient(135deg, rgba(179, 229, 252, 1) 0%,
            rgba(179, 229, 252, 1) 50%,
            rgba(240, 98, 146, 1) 50%,
            rgba(240, 98, 146, 1) 100%);
    margin-top: 10%;
    width: 40%;
    height: 10%;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    font-size: large;
    border: 2px solid white;
    cursor: pointer;
}

.JokeListButton:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 8px 8px rgba(0, 0, 0, 0.11),
        0 16px 16px rgba(0, 0, 0, 0.11),
        0 32px 32px rgba(0, 0, 0, 0.11);
}


.loadingAnimation {
    text-align: center;
    color: white;

}


.JokeList-jokes-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}